Language: Cpp

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right

AlignOperands: true
BreakBeforeBinaryOperators: All

AllowAllParametersOfDeclarationOnNextLine: true

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: MultiLine

BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterColon
BreakStringLiterals: true

ColumnLimit: 120

CompactNamespaces: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentCaseLabels: true

IndentWidth: 4

NamespaceIndentation: None
PointerAlignment: Left
# SortIncludes: true
# SortUsingDeclarations: true
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 1

Standard: Cpp11
UseTab: Never
